
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&amp;display=swap');
@import url('../maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
  font-family: inherit;
  background-color: #fff;
  color: #515151;
}

p{
  font-family: 'Open Sans', sans-serif!important;
  font-weight: 400;
  font-size: 16px!important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#e56b10;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #0b1f50;
}

.bg-white{
    background-color: transparent !important;
}

.jklink:active .styled__NavLink{
  color:  #F3C500!important;
}

.navbar li a{
	font-family: inherit;
  font-size: 24px;
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #e56b10;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000f8f;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{

  color:#ff6f03!important;

}


.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  box-shadow: 3px 3px 10px #f1f1f161;
}

.navbar-fixed-top.scrolled .nav-link {
  color:#000f8f;
}

.bg-primary{
	background-color:transparent!important;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-transform: capitalize;
}


.img-thumbnail{
padding: 0;
border: none;
border-radius:0;

}

.carousel-caption {
    bottom: 30%;
}

.slideheading h1{
  font-family:inherit;
  font-size: 50px;
  font-weight: 600;

}

.slideheading h1 span{
  color: #FFF;
}

.slideheading p {
    font-size:23px;}


.btn-primary{
  color: #fff;
  background-color: #e56b10!important;
  border-color: #e56b10!important;

}
.btn-secondary {
    color: #0B1F50;
    background-color: #F3C500;
    border-color: #F3C500;
}


.btn-secondary:hover {
    color: #fff;
    background-color:#000f8f!important;
    border-color:#000f8f!important;
}




.btn{
font-family: inherit;
font-size: 22px;
padding: 0.425rem 1.75rem;
border-radius: .75rem;

}

.carousel-indicators li {
  
    width: 16px;
    height: 4px;
    cursor: pointer;
    background-color: #e56b10;
    
}

.clienttele{
background-color:#edf2ff;


}

.inner li{
list-style: none;
display: inline-flex;
padding-right: 35px;
padding-left: 35px;
}

.inner p{
color: #0b1db3;
display: inline-block;
padding: 20px 10px 0px 10px;

}


.bestfantasy{
margin-top: 70px;
margin-bottom: 70px;
}

/*.Heading1{
  padding-top: 50px;
}*/

.Heading1 h2{

  font-family:inherit;
  font-size: 46px;
  font-weight: 700;
  color:brown;
  padding-top: 0;

}

/*.Heading1 span{

color: #F3C500!important;

}
*/

.Heading1 p{

font-family: inherit;
color:#515151;
font-size: 18px;
/*text-align: left;*/
line-height: 1.5;
padding-bottom: 0;}
/*end-second*/

/*howjustkheloworks*/
.get11works{
  width: 100%;
  min-height: 600px;
  margin-top: 0;
  background: url(images/bg_getset.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.bgtxt{
  color: #ffffff!important;
  text-align: center!important;
}

.box{
text-align:left;
/*border: 1px solid #ffffff;*/
padding: 25px;
border-radius: 42px;
min-height: 380px;

}


.p_feature_col{
    padding-top: 15px;
}

.box h3{
color: #fff;
text-align: center;
font-size: 36px;
padding-top: 25px;
font-family: inherit;

}

.box p{
color: #fff;
text-align: center;
font-size: 18px;
font-family: inherit;
padding-top: 15px;
font-weight: 300;
}

.space{
padding: 20px;
text-align: center;
}
/*end*/



.whypopular{
  margin-top: 80px;
}



.w-txt {
text-align: center!important;
color: #515151;

}

.box1 {
    text-align: center;
    width: 100%;
}

.box1 h3{
color: #0c1b95;
text-align: center;
font-size: 28px;
/*padding-top: 15px;*/
font-family: inherit;
font-weight: 800;
}

.box1 p {
    color: #515151;
    text-align: center;
    font-size: 18px;
    padding-top: 0;
    line-height: 1.5;
}


.controls-top i{
  color: #0b1f50;
}


.table .thead-dark th {
    color: #fff;
    background-color: #000f8f!important;
    border-color: #ffffff!important;
}

/*resultsection*/

.Fixtureresult{
  margin-top: 100px;
  background-image: url(images/Background/jkresult.html);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 830px;
}

.boxresult{
background-color: #0B1F50;
margin-top: 30px;
border-radius: 50px;
border-bottom: 15px solid #ffffff;
}

.boxresult h4 {
  font-size: 18px;
  font-family:inherit;', sans-serif;
}

.boxresult ul{
  list-style: none;
  display: inline-flex;
}

.boxresult li a h4{
padding: 30px 80px 30px 100px
}


.seprator{
border-bottom:1px solid #ffffff;
width: 100%;
}

.imgcontent{

color: #ffffff;

}

.Fixtureresult h4{
font-family: inherit;
color:#ffffff;


}




/*Schedule*/

.Schedule {
    margin-top: 100px;
    color: #fff;
    background: url(images/bg-table.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 750px;
}


/*.Schedule h2{
  padding-top: 50px;
}*/

.allcontent{
margin-top:50px;
/*background-color:#0b1f50;
border-radius: 22px;*/

}

.table-dark{
background-color:#0B1F50!important;
border-radius: 50px;
padding: 20px;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #ffffff45;
}

.table td, .table th {
padding: 1.3rem;
font-size: 16px;
font-family: 'Open Sans', sans-serif!important;
}

    /*end*/

/*payment*/

.payment_section {
    padding-top: 100px;
    padding-bottom: 80px;
}
.paymentlogo img{
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
/******************************faqstart*************************************/

.faq{
  margin-top: 100px;
}

.Heading_f h2{

  font-family:inherit;
  font-size: 36px;
  font-weight: 700;
  color:#0B1F50 ;

}




.appimage{
/*padding-left: 100%*/
}

.accordion .card {
  background: none;
  border: none;
}
.accordion .card .card-header {
  background: none;
  border: none;
  padding: .4rem 1rem;
  font-family:inherit;
}
.accordion .card-header h2 span {
  float: left;
  margin-top: 10px;
}
.accordion .card-header .btn {
  color: #0B1F50;
  font-size:15px;
  text-align: left;
  position: relative;
  font-weight: 500;
  padding-left: 2rem;
}
.accordion .card-header i {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 9px;
}
.accordion .card-header .btn:hover {
  color: #f3c500;
}
.accordion .card-body {
  color: #324353;
  padding: 0.5rem 3rem;
}
.page-title {
 /* margin: 3rem 0 3rem 1rem;*/
  font-family: inherit;
  position: relative;
  color: #000f8f;
  font-weight: 700;
  font-size: 46px;

}

.accordion .highlight .btn {
 color: #0b1f50;

}
.accordion .highlight i {
  transform: rotate(180deg);
}


/*footer*/


.footertxt{
margin-top: 70px;
padding-top: 70px;
/*padding-left: 20px;*/
}

#footer {
    background:#BD0016;
}
#footer h5{
  padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
/*#footer ul.social li{
  padding: 10px 0;
}*/
#footer ul.social li a i {
    margin-left: 25px;
  font-size:20px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
  font-size: 20px;
}
#footer ul.social li a:hover{
  color:#eeeeee;
}
#footer ul.quick-links li+li {
    /* padding: 4px 0; */
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
    padding-left: 5px;
    padding-right: 5px;
}
/*#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}*/
#footer ul.quick-links li a i{
  margin-right: 5px;
}



.line p {
    border-top: 1px solid #ffffff1c;
    width: 100%;
    padding: 30px 0;
    font-size: 15px !important;
}


/*================Testimonial slider css =======================*/
.testimonial_section {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #edf2ff;
}
.testimonial_carousel {
    margin-top: 50px;
}
.slider_card {
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    border-radius: 11px;
}
 .slider_card .card-body {
     flex: 1 1 auto;
     padding: 1.25rem;
     min-height: 250px;

 }
.testimonial_carousel .slick-slide {
    margin: 10px
}
.media iframe,
.media-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(120, 120, 120, .1);
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.media-content:before {
    content: '';
    position: absolute;
    height: 10%;
    width: 90%;
    left: 5%;
    bottom: 0;
    background: inherit;
    background-position-y: 100%;
    filter: blur(10px)
}
.circle .media-content:before {
    width: 40%;
    left: 30%
}
.slider_card .profile-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 11px !important;
    border-top-right-radius: 11px;
}
.slider_card .card-title {
    font-size: 22px;
    padding-top: 0;
    font-family: inherit;
    font-weight: 800;
    color: #000f8f;
}
.slick-dots li button:before {
    font-size: 18px;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #000f8f;
}
.testimonial_carousel .slick-arrow {
    display: none !important;
}
/*================Testimonial slider css =======================*/

/*********************************************************************/
/* Multiple Item Carousel  whypopular*/ 
/*********************************************************************/
/* medium - display 2  */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 3 */
@media (min-width: 992px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: block;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}




/*************************Mobileresponsive********************************************8/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

.carousel-caption {
    bottom:24px;
}
.btn {
     font-size: 16px;}

.slideheading h1 {
    font-size: 24px;
    margin-bottom: 4px;
}
.slideheading p {
    font-size: 12px !important;
    margin-bottom: 20px;
}

.carousel-indicators{
  display: none;
}

.contentimg{
  text-align: center;
}

.Heading1 h2{
  text-align: center;
  font-size: 27px;
}

  .Heading1 p{
    text-align: justify;
    font-size: 16px;
  }
.box{
  margin-top: 20px;
}
.seprator {
    padding-left: 0%;
}

.boxresult ul {

    display: inline-block;}


.Fixtureresult{
height:1500px;

}

.Schedule{
  margin-top: 0px;

}

.appimage{

  padding-left:0!important;
}

}

@media (min-width: 360px) and (max-width:575px) {
  .appimage{
    display: none!important;
  }

  .j_heading h2{
    font-size: 26px!important;
    padding-left: 0px!important;
  }

.work-heading{
  text-align: center;
}
/*.bannertxt h1 {
    
    font-size: 30px!important;
    padding: 30%!important;
  }*/

  .howtoinstall img{
   width:50%!important;
   vertical-align: middle;
   max-width: 100%;

  }
.mockups img {
    padding: 10px!important;}

.page-title {
    margin: 0rem 0 3rem 1rem!important;}

  .help_cont{
    display: flex;
  }  

.getimg{
  /*text-align: center!important;*/
}
.about-heading h2{
  /*text-align: center;*/
}
.page-title h1{
  margin-top: 50px;
}

}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
.carousel-caption {
    bottom:15px;
}
.btn {
     font-size: 13px;}

.slideheading h1 {
    font-size: 20px;}

.slideheading p {
    font-size: 13px!important;
    /*margin-bottom: 7px;*/
}

.carousel-indicators{
  display: none;
}

.bestfantasy {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentimg{
  text-align: center;
}

.Heading1 h2{
  text-align: center;
  font-size: 27px;
}

  .Heading1 p{
    text-align: justify;
    font-size: 16px;
  }

.box{
  margin-top: 20px;
}


.seprator {
    padding-left: 0%;
}

.boxresult ul {

    display: inline-block;}


.Fixtureresult{
height:1500px;

}

.Schedule{
  margin-top: 0px;

}
.getimg{
  width: 100%!important;
}

#myBtn {
  right: 60px!important;
}

.getimg {
    width: 100%!important;
}
.about-heading h2{
/*  text-align: center!important;*/
}


 }





/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

.carousel-caption {
    bottom:11%;
  }


.carousel-indicators{
  display: none;
}

.slideheading h1 {
    
    font-size: 30px;}


.contentimg{
  text-align: center;
}


 .Heading1 h2{
  text-align: center;
 }   

 .Heading1 p{
  text-align: center;
 }


.box1{
     padding: 16px 0;
    /*height: 447px;
    width: 320px;*/
}

.space {
    padding: 20px;
}
.box1 h3{

font-size: 20px;}

.box1 p{
  font-size: 16px;
} 

.boxresult li a h4 {
    padding: 30px 7px 30px 32px;
}

.getimg img{
width: 100%; 
}

.features_img{
  lign-items: center;
    text-align: center;
    margin-left: 20%;
}
.d-md-block{
  display: block!important;
}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .contentimg{
    width: 100%;
  }
  .box1{
       padding: 16px 0;
      }
  .space {
      padding: 20px;
  }
  .box1 h3{
   
    font-size: 24px;
  }
  .box1 p{
    font-size: 18px;
  } 
  .boxresult li a h4 {
      padding: 30px 10px 30px 101px;
  }
  .Schedule{
    margin-top: 0px;
  }
}


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

.getimg img{
width: 75%; 
}

  

}






/**********Aboutus**********/

.bannerwrap{
  position: relative;

}



.aboutbanner {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    background: url("images/icon/bginner1.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bannertxt h1{
color: #fff;
font-size:50px;
font-family:teko, sans-serif;
text-align: center;
align-items: center;
padding-top: 13%;
font-weight: 800;
}

.bannertxt span{
color:#F3C500;

}


.About_us{
  margin-top: 100px;
}

.about-heading h2{
 color: #000f8f;
 font-family:teko, sans-serif; 
 font-size: 46px;
font-weight: 700;


}

.about-heading span{
color:#F3C500;

}

.about-heading p{
/*padding-top: 2rem;*/
line-height: 1.5;
text-align: justify;
font-size: 16px;
}

/*end*/

/*our_feature*/

.single_features_item i {
    font-size: 35px;
    color: #182599;
}

.our-feature {
    margin-top: 100px;
    width: 100%;
    min-height: 650px;
    position: relative;
    overflow: hidden;
    background: url(images/icon/feature.jpg) center no-repeat;
    background-size: cover;
}

.feature_heading h2 {
    color: #051491;
    font-family: teko, sans-serif;
    font-size: 46px;
    font-weight: 800;
} 

.feature_heading span{
color:#F3C500;

}



.features_img{
    position: absolute;
    float: right;

}

.single_features_item span{
    float: left;
    display: table;
    padding-right: 15px;
    height: 90px;
}

.single_features_item h3{
  font-size: 36px;
  font-family:teko, sans-serif;
  color: #051491;
}

.single_features_item p{
  font-size: 14px;
  font-family: 'Open Sans',sans-serif!important;
  line-height: 1.5;
  padding-top: 5px;
  display: flex;
  color: #000;

}

.single_features_item {
  padding-top: 25px;
}

.imagejk{
  padding-left: 80px;
  width: 70%;
}

.howworks{
   margin-top: 100px;

}

.work-heading span {
  color: #F3C500;
}

.work-heading h2 {
    color:#000f8f;
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
}

.work-heading p{
padding-top: 20px;
line-height: 1.5;
color: #515151;
text-align: center;

}

.work-heading{
padding: 10px;

}


.worksitem h2 {
    color: #000f8f;
    font-size: 21px;
    font-family: 'teko';
    font-weight: 700;
    padding-top: 20px;
    padding-left: 15px;
}

.worksitem img{
   box-shadow: -2px 4px 11px 0px #f1f1f1;
}
 

.worksitem {
  padding-top: 20px;
  padding-left:97px;
}

.j_heading h2{
  color:#000f8f;
 font-family: inherit;
    font-size: 46px;
    font-weight: 700;
    padding-left: 97px;
}

.j_heading span{
  color:#F3C500;
}


.Howtoplay{

  /*background: url(images/banner/howplay.jpg) no-repeat;*/
  background-position: center;
  background-size: cover;
  margin-top: 100px;
}


.Howtoplay h2 {
    color: #000f8f;
   font-family: inherit;
    font-size: 36px;
    font-weight: 800;
}

.Howtoplay span{
  color:#F3C500;
}


.htp h3{
 padding-top:22px;
font-family: inherit;
 font-size: 22px;
 color: #000f8f;
font-weight: 700;
}


.htp p{
  font-size: 15px;
  
}

/*.mockups img{
padding: 50px;
}*/




/*installpages*/
.installbanner {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    background: url("images/banner/installbanner.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.rate-review h2{
  color: #0b1f50;
   font-family: inherit;
    font-size: 36px;
    font-weight: 800;
}


.rate-review span{
  color: #F3C500;
}


.slider h2{
  color: #0b1f50;
   font-family: inherit;
    font-size: 36px;
    font-weight: 800;
}

.slider span{
   color: #F3C500;
}


/*howtoinstaalslidercss*/

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.feature_card img {
  max-width: 100%;
  max-height: 100%;
}
.feature_card {
  border: 0px solid #51515142;
  border-radius: 20px;

}

.content_box{
  text-align: center!important;
    padding: 20px;
    margin: 20px;
    

}




.carousel-inner {
  /*padding: 1em;*/
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .feature_card img {
   width: 80px;
   height: 80px;
  }
}


/*howtoinstallsection*/

.howtoinstall {
    /* background-image: url(images/background.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin-top: 100px;
    background-color: #000f8f;
}


.howtoinstall h2{
  padding-top: 60px;
 font-family: inherit;
    font-size: 36px;
    font-weight: 800;
    color: #ffffff;
}

.howtoinstall span{
 color: #F3C500;
}

.info-install{
  color: #ffffff;
  font-size: 20px;
  font-family: inherit;
  font-weight: 800;
  padding-left: 10%;
}

/*faq*/

.FaQ_question{
margin-top:80px;
}

.template_faq {
    background: #edf3fe none repeat scroll 0 0;
}
.panel-group {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
   /* box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04);*/
    margin-bottom: 0;
    padding: 30px;
}
#accordion .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 10px;
}
#accordion .panel-heading {
    border-radius: 30px;
    padding: 0;
}
#accordion .panel-title a {
    background: #000f8f none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-size: 22px;
    font-weight: 400;
    padding: 12px 20px 12px 50px;
    position: relative;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #333;
}
#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
    background: #e56b10 none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
    color: #fff;
    content: "";
    font-family: fontawesome;
    font-size: 25px;
    height: 55px;
    left: -20px;
    line-height: 55px;
    position: absolute;
    text-align: center;
    top: -5px;
    transition: all 0.3s ease 0s;
    width: 55px;
}
#accordion .panel-title a.collapsed::after {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: none;
    color: #333;
    content: "";
}
#accordion .panel-body {
    background: transparent none repeat scroll 0 0;
    border-top: medium none;
    padding: 20px 25px 10px 9px;
    position: relative;
}
#accordion .panel-body p {
    border-left: 1px dashed #8c8c8c;
    padding-left: 25px;
}

.list {
    list-style: circle;
    margin: 10px 10px 0 47px;
    font-family: poppins, sans-serif;
    font-weight: 400;
}

.panel-body p{
font-family: poppins, sans-serif;
line-height: 1.7;
font-size: 14px;
}


@media screen and (min-width: 480px) {

.innerbannerinstall {
    width: 100%;
    top:70px;
    height: 400px;}


.bannerHeadline a {
    color: #1340b6;
    display: block;
    background-color: #ffffffdb;
    padding:12px
    border-radius: 50px;
    margin: 0 0 0 0;
    font-size: 12px;
}

}
@media screen and (min-width: 360px) {

.innerbannerinstall {
    width: 100%;
     height: 430px; 
    /* background-size: contain; */
    /* top: 0; */
    top:70px;
    bottom: 0;
    position: relative;
    margin-top: 33px;
  }

    .bannerHeadline a {
    color: #1340b6;
    display: block;
    background-color: #ffffffdb;
    
    border-radius: 50px;
    margin: 0;
    font-size:13px;
    padding: 10px;

}
.innerbannerwrap h2{
  padding: 3px;
  font-size: 12px;
}
}

@media screen and (min-width: 1200px) {

.innerbannerinstall {
    width: 100%;
    height: 550px;
    top:70px;
  }


.bannerHeadline a {
    color: #1340b6;
    display: block;
    background-color: #ffffffdb;
    padding:10px;
    border-radius: 50px;
    margin:0;
    
}

 .innerbannerwrap h2 {
  padding: 3px;
  font-size: 15px;

 }

}

.heading-section{
margin-top: 70px;
text-align:left;
}

.paragraph-Pp p{
   font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5 !important;
}

.paragraph-Pp li{
font-weight: 500;
font-family: 'Open Sans', sans-serif;
line-height: 1.5 !important;
list-style: circle;
padding: 10px;


}

.process{
font-weight:600;
font-size: 20px;
font-family: 'Open Sans', sans-serif;
}

.infobtn{

  margin-top: 50px;
}

.paragraph-Pp h3{
   font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5 !important;
  padding-top: 20px;
}

.info1 > p {
    font-family: 'Open Sans', sans-serif;
    color: #1b1b1b;
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
    line-height: 1.5;
   }

   .info1 h5 {
   font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #0e42b8;
    line-height: normal;
    padding-top: 20px;
    font-weight: 600;
    text-decoration: none;
}

.spacingabout {
    padding: 20px;
    text-align: left;
}

.img_spaceabout {
    margin-top: 20px;
    text-align: left;
}


.about_us{

margin-top: 70px;
}

.feature p{
font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    padding: 0 0;
    line-height: 1.7;

}

/*install_imgslide*/

.blog-card{
  position: relative;
  height: 370px;
  width: 100%;
  max-width: 850px;
  margin: auto;
  border-radius: 25px;
  background: white;
  box-shadow: 0px 10px 50px #f3c5001f;
  

}
.inner-part{
  position: absolute;
  display: flex;
  height: 360px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
#imgTap:checked ~ .inner-part {
  padding: 0;
  transition: .1s ease-in;
}
.inner-part .img{
  height: 260px;
  width: 260px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 15px rgb(0 123 255 / 5%);
}
#imgTap:checked ~ .inner-part .img{
  height: 370px;
  width: 850px;
  z-index: 99;
  margin-top: 10px;
  transition: .3s .2s ease-in;
}
.img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0;
  transition: .6s;
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3{
  opacity: 1;
  transition-delay: .2s;
}
.content{
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  opacity: 0;
  transition: .6s;
}
#imgTap:checked ~ .inner-part .content{
  display: none;
}
#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3{
  opacity: 1;
  margin-left: 0px;
  z-index: 100;
  transition-delay: .3s;
}
.content span{
  display: block;
  color: #7b7992;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500
}
.content .title{
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.content .text{
  color: #4e4a67;
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 1.5em;
  text-align: center;
}
.content button{
  display: inline-flex;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff0e6;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: 1px solid #fd3535;
  background: linear-gradient(147deg, #fe8a39  0%, #fd3838 74%);
}
.content button:hover{
  background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
}
.sliders{
  position: absolute;
  bottom: 25px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 12;
}
#imgTap:checked ~ .sliders{
  display: none;
}
.sliders .tap{
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}
.sliders .tap:hover{
  background: #cccccc;
}
.sliders .tap:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: linear-gradient(147deg,#0b1f50 0%, #0b1f50 74%);
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform .6s;
  transform-origin: left;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before{
  transform: scaleX(1);
  width: 100%;
}
.sliderMulti{
  margin-top: 100px;
  text-align: center;
}





/*slider*/

@-webkit-keyframes L_circle_rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes L_circle_rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes L_stroke_rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes L_stroke_rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes L_stroke_left_grow {
  0%,
  100% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
}
@keyframes L_stroke_left_grow {
  0%,
  100% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
}
@-webkit-keyframes L_stroke_right_grow {
  0%,
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }
}
@keyframes L_stroke_right_grow {
  0%,
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }
}
.loader-circle {
  top: 50%;
  left: 50%;
  z-index: 1;
  color: #444;
  margin-top: -1em;
  margin-left: -1em;
  position: absolute;
  -webkit-animation: L_circle_rotate 1.568s linear infinite both;
  animation: L_circle_rotate 1.568s linear infinite both;
}
.loader-circle .loader-stroke-left:before,
.loader-circle .loader-stroke-right:before,
.loader-circle:before {
  content: "";
  display: block;
  border-style: solid;
  border-width: 0.21429em;
  border-color: currentColor;
}
.loader-circle,
.loader-circle .loader-stroke-left,
.loader-circle .loader-stroke-left:before,
.loader-circle .loader-stroke-right,
.loader-circle .loader-stroke-right:before,
.loader-circle:before {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-sizing: border-box;
}
.loader-circle .loader-stroke-left:before,
.loader-circle .loader-stroke-right {
  position: absolute;
  clip: rect(0 2em 2em 1em);
}
.loader-circle .loader-stroke-left,
.loader-circle .loader-stroke-right:before {
  position: absolute;
  clip: rect(0 1em 2em 0);
}
.loader-circle:before {
  position: absolute;
  clip: rect(0 1.05em 1em 0.95em);
}
.loader-circle .loader-stroke-left,
.loader-circle .loader-stroke-right,
.loader-circle:before {
  -webkit-animation: L_stroke_rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  animation: L_stroke_rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
.loader-circle .loader-stroke-right:before {
  -webkit-animation: L_stroke_right_grow 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: L_stroke_right_grow 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.loader-circle .loader-stroke-left:before {
  -webkit-animation: L_stroke_left_grow 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: L_stroke_left_grow 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
.mhn-slide .mhn-item {
  width: 100%;
  padding: 10px;
}
.mhn-slide .mhn-inner {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 3px;
}
.mhn-slide .mhn-item img {
  display: none;
}
.mhn-slide .mhn-img {
  min-height: 200px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: white;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=)
    #eee no-repeat center/cover;
  position: relative;
}
.mhn-slide .mhn-text {
  text-align: center;
  padding: 0 10px;
}
.mhn-slide .mhn-text h4 {
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mhn-slide .mhn-text p {
  max-height: 4.5em;
  overflow: hidden;
}
.mhn-slide .owl-stage-outer {
  z-index: 1;
}
.mhn-slide .owl-nav {
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mhn-slide .owl-nav svg {
  color: currentColor;
}
.mhn-slide .owl-nav .disabled {
  display: none;
}
.mhn-slide .owl-prev,
.mhn-slide .owl-next {
  top: 110px;
  z-index: 2;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-top: -20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
}
.mhn-slide .owl-prev {
  left: -10px;
}
.mhn-slide .owl-next {
  right: -10px;
}
/*================= steps css ====================*/
.howtoinstall_section {
    padding-top: 70px;
}
.install_steps .row {
   -ms-flex-align: center;
    align-items: center;
}
.install_steps:nth-child(odd) .row {
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.steps_content .steps_count {
    color: #ff6f03;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    line-height: initial;
    padding-bottom: 7px;
    margin-bottom: 20px;
}
.steps_content .steps_count:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 61px;
    height: 5px;
    background: #ff6f03;
}
.install_steps:nth-child(even) .steps_content .steps_count:after {
    left: auto;
    right: 0;
}
.steps_content h3 {
    font-size: 36px;
    font-weight: 600;
    color: #000f8f;
}
.install_steps .steps_img img {
    max-height: 600px;
}
.install_steps .steps_img {
    background: #edf2ff;
    text-align: center;
    padding: 20px;
}
.install_steps:nth-child(odd) .steps_img_col {
    padding-right: 0;
}
.install_steps:nth-child(even) .steps_img_col {
    padding-left: 0;
}
.install_steps:nth-child(odd) .steps_content {
    padding-left: 50px;
}
.install_steps:nth-child(even) .steps_content {
    text-align: right;
    padding-right: 50px;
}
/*================= steps css ====================*/


ul.trem-condition li{
    font-family: 'Open Sans', sans-serif;
}

ul.refund_text li{
    font-family: 'Open Sans', sans-serif;

}

ul.play-text li{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.8;
    color: #000f8f;
}

.get_sticky_btn {
    position: sticky;
    bottom: 10px;
    background: #fff;
    max-width: 225px;
    margin: 0 auto;
    border: 1px solid #edeff5;
    padding: 0px;
    border-radius: 8px;
    z-index: 6;
    display: -ms-flexbox!important;
    display: flex!important;
}

.get_sticky_btn .btnsqure {
    display: flex;
    -webkit-display: flex;
}

.btn_downloadapk {
    position: sticky;
    bottom: 10px;
    z-index: 999;
}

.get_sticky_btn a {
    text-transform: capitalize;
    text-align: left;
}


.btnsqure a {
    text-decoration: none;
    /*min-width: 175px;*/
    border-radius: 8px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
/*====== contact us =====*/
.contact_page_section {
    padding: 70px 0 50px;
}
.contact_address_dv .c_headings {
    font-size: 36px;
    font-weight: 600;
    color: #000f8f;
    margin-bottom: 25px;
}
.contact_address_dv .c_headings span {
    padding-left: 10px;
    color: #e56b10;
}
.contact_address_list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.contact_address_list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.contact_address_list li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    width: 33.33%;
    padding: 0 15px;
	margin-bottom:30px;
}
.contact_address_list li .innderdv {
    padding: 30px 20px;
    border: 1px solid #ccc;
    text-align: center;
    min-height: 100%;
    width: 100%;
}
.contact_address_list li .innderdv2 {
    width: 100%;
}
.contact_address_list li h4 {
    font-size: 24px;
    margin-bottom: 17px;
    color: #000f8f;
}
.contact_address_list li .texts {
    font-family: 'Open Sans', sans-serif;
    color: #777;
    margin-top: 20px;
}
.contact_address_list li .texts a {
    display: inline-block;
    color: #777;
	text-decoration:none;
}
.contact_address_list li .texts a:hover {
    color: #e56b10;
	text-decoration:none;
}
.contact_address_list li .icons {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    line-height: 51px;
    text-align: center;
    background: #e56b10;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    display: inline-block;
}
.contact_address_list li .innderdv:hover {
    background: #e56b10;
	border-color: #e56b10;
}
.contact_address_list li .innderdv:hover h4, 
.contact_address_list li .innderdv:hover .texts, 
.contact_address_list li .innderdv:hover .texts a{
	color: #fff;
}
.contact_address_list li .innderdv:hover .icons {
    background: #fff;
    color: #e56b10;
}
/*====== contact us =====*/